<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Accounts</title>
</head>
<body>

    <header>
        <div>
            <nav>
                <ul>
                    <li> <a href="/">HOME</a></li>
                    <li> <a href="/allaccounts.html">ACCOUNTS</a></li>
                    <li> <a href="/creataccount.html">CREAT ACCOUNT</a></li>
                    <li><a href="/">Login</a></li>
                </ul>
            </nav>
            
        </div>
    </header>

    <main>
        <div class="picdiv"><img src="/image/Bahalul copy 2.jpg" alt="" height="100%" width="100%"></div>
        <div id="accountList"></div>
    </main>

    <footer>
        <div class="footerdiv">
            <div><h3>More about us</h3>
                <div><a href="/views/index.html">Find us</a></div>
                <div><a href="/views/index.html">bahalul_baha@gmai.com</a></div>
                <div><a href="/views/index.html">You can call us</a></div>
                <div><a href="/views/index.html">Our team</a></div>
            </div>
            
            <div><h3>Be our team</h3>
                <div><a href="/views/index.html">Career</a></div>
                <div><a href="/views/index.html">Vacancy</a></div>
                <div><a href="/views/index.html">Training program</a></div>
                
            </div>
            <div class="logoimg"><h3>More about us</h3><br>
                <div><img src="/image/youtube.png" alt="" height="30px" width="30px"></div>
                <div><img src="/image/facebook.png" alt="" height="30px" width="30px"></div>
                <div><img src="/image/twitter.png" alt="" height="30px" width="30px"></div>
                <div><img src="/image/instagram.png" alt="" height="30px" width="30px"></div>
            </div>
            <div><h3>How can we help you better</h3>
                <div><a href="/views/index.html">Find us</a></div>
                <div><a href="/views/index.html">bahalul_baha@gmai.com</a></div>
                <div><a href="/views/index.html">You can call us</a></div>
                <div><a href="/views/index.html">Our team</a></div>
            </div>
        </div>

    </footer>

 
   <script src="allaccount.js"></script>
</body>
</html>