<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Accounts</title>
</head>
<body>

    <header>
        <div>
            <nav>
                <ul>
                    <li> <a href="/">HOME</a></li>
                    <li> <a href="/allaccounts.html">ACCOUNTS</a></li>
                    <li> <a href="/creataccount.html">CREAT ACCOUNT</a></li>
                    <li><a href="/">Login</a></li>
                </ul>
            </nav>
            
        </div>
    </header>
    <main>

        <div>
            <img src="/image/Bahalul copy 2.jpg" alt="" height="100%" width="100%">
        </div>
        
        <div> 
            <h1>Creat your account here</h1> 
                <form id="createform">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Write your name"> <br> <br>
            
                    <label for="amount">Amount of money</label>
                    <input type="text" id="amount" name="amount" placeholder="Amount of money"><br> <br>
            
                    <button id="creat">Creat</button>
                </form>
        </div>

        
    </main>

    <footer>

    </footer>
  

   <script src="create.js"></script>
</body>
</html>